/* Estilo del contenedor principal */
.mt-5 > div {
  background-color: rgba(0, 0, 0, 0.7);

  border-radius: 12px;
  padding: 25px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn-success:hover {
  background-color: #0ff;
  color: #000;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff inset;
}