/* Navbar futurista fijo arriba */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  border-bottom: 2px solid #00ffcc;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.3);
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}


/* Marca y links */
.navbar-brand {
  color: #00ffcc;
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  transition: 0.3s ease-in-out;
}

.navbar-brand:hover {
  transform: scale(1.05);
  text-shadow: 0 0 20px #00ffcc, 0 0 40px #00ffcc;
}

